<div class="content">
  <div class="title-card">
    <img src="https://res.cloudinary.com/nachoal/image/upload/v1553658200/pp.png" class="avatar" alt="profile picture">
    <div class="title-card-infos">
      <h1>Ignacio Alonso</h1>
      <p>Maker, Hacker, Learner.</p>
    </div>
  </div>
  <p>
    I'm an IT Engineer by profession currently building <a href="https://www.codia.co/en">codia.co</a> 
    a Web and Mobile development studio that helps you execute your digital product and services ideas.
    I'm also teaching programming and product creation using Ruby, Rails and Javascript at <a href="https://www.lewagon.com/mexico">Le Wagon Mexico.</a> 
  </p>
  <p>
    I can help your company figure out how to reduce costs or raice revenue by using technology strategically. e.g. Reduce the number of employees needed to execute X process or
    Replace old software tools with new faster, cheaper more useful alternatives. 
    I also can help you test your digital product ideas without spending a fortune.
  </p>
  <p>
    If you want to find me you can get in touch on Twitter <a href="https://twitter.com/ignacioaal">@ignacioaal</a> 
    or send me an <a href="mailto: ignacio.alley@gmail.com">email.</a><br>
    I don't have a Facebook 🤮 or LinkedIn.
  </p>
  <p>
    I do have a <a href="https://github.com/nachoal">Github</a> profile were you can see my latest projects. 
  </p>
  <h2>Recent personal projects include: </h2>
  <ul>
    <li><a href="https://quotegenius.xyz">Quote Genius</a> (An image quote generator for your social media accounts)</li>
    <li><a href="https://bookgenius.herokuapp.com/books">Book Genius</a> (Social media sentiment analysis tool for top seller NYT books)</li>
    <li><a href="https://chrome.google.com/webstore/detail/streak-tracker/fjdnbfpmonlaapmkboaihnaecphjjakd?hl=en">Streak Tracker</a> (Chrome extension to track your most important habit streak)</li>
    <li><a href="http://app-stop.appspot.com/DigDigGo-b4a5ca9102eb4173ae728a56e1af65f9">DigDigGo</a> (A now dead side scroller iOS game I made to learn Mobile development on iOS)</li>
    <li><a href="https://gist.github.com/nachoal/e25553ecfb584d59065b51a27b27c743">Personal Email automator</a>(Small snippet I made to help Le Wagon send bulk personal emails without using Mailchimp)</li>
  </ul>
  <h2>Presentations / conferences:</h2>
  <ul>
    <li><a href="https://speakerdeck.com/ignacioaal/programacion-para-marketing">Programming for marketing (in spanish)</a> - March 2019</li>
    <li><a href="https://speakerdeck.com/ignacioaal/apis-para-principiantes">API's for beginners (in spanish)</a> - March 2019</li>
  </ul>
</div>