@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700');

img {
  margin-top: 30px;
}

body {
  font-family: 'Roboto Mono', monospace;
  border-right-width: 1px;
  border-right-style: solid;

}


a {
  color: #E40108;
  text-decoration: none;
}

a:hover {
  font-weight: bolder;
  text-decoration: underline;

}

.rounded-circle{
 border-radius: 50%;
 width: 150px;
}